$headerColor: #bbe6f6;
$aboutSectionColor: #97ccde;
$triviaTimeColor: #b3a6c0;
$hangmanColor: #99c1c1;
$recipeWizardColor: #ddbd8c;
$contactColor: #97ccde;
$blueBorderColor: #2196bd;

$fontHeader: 'Poppins', sans-serif;
$fontBody: 'Public Sans', sans-serif;
