$headerColor: #bbe6f5;
$aboutSectionColor: #97cbde;
$triviaTimeColor: #b2a6c1;
$hangmanColor: #99c1c1;
$recipeWizardColor: #ddbd8b;
$contactColor: #97cbde;
$darkGrey: rgb(51, 51, 51);
$socialsHoverColor: #50768b;
$formBackgroundColor: #ddefff;

$fontHeader: 'Poppins', sans-serif;
$fontBody: 'Public Sans', sans-serif;
